<!doctype HTML>
<html lang="pt">

<head>
  <% include includes/header.ejs %>
  <title>BattleBuff - Salas</title>
</head>

<body>
  <div class="page-wrapper chiller-theme toggled">
    <% include includes/side-bar.ejs %>
    <main class="page-content">
      <div class="container-fluid min-100">
        <h3>Salas Abertas</h3>

        <table class="rwd-table">
          <tr>
            <form action="/criar-sala" method="post">
              <th scope="col">Criar sala</th>
              <th colspan="2" scope="col"><input class="form-control" name="txtNome" type="text"></th>
              <th scope="col"><input value="Criar" class="btn btn-primary form-control" type="submit"></th>
            </form>
          </tr>
          <tr>
            <th>Nome</th>
            <th>Espaços</th>
            <th>Status</th>
            <th><input class="btn btn-primary form-control" type="button" value="Atualizar" onClick='parent.location="javascript:location.reload()"'></th>
          </tr>
          <% if (finalizadas.length == 0) { %>
          <tr>
            <td colspan="4" scope="col">
              <center>Nenhuma Sala</center>
            </td>
          </tr>
          <%}%>
          <% for (var i = 0; i < finalizadas.length; i++) { %>
            <tr>
              <td>
                <%= finalizadas[i].NM_SALA %>
              </td>
              <td>
                <%= finalizadas[i].QTD_JOGADORES %>/6</td>
              <td>
                <%= finalizadas[i].NM_STATUS %>
              </td>
              <%if (finalizadas[i].NM_STATUS == 'Aguardando') {%>
              <td><a href="/sala/<%= finalizadas[i].ID_SALA %>" class="btn btn-success form-control">Entrar</a></td>
              <%}else {%>
                <td><a href="#" class="btn btn form-control">Entrar</a></td>
              <%}%>
            </tr>
          <% } %>
        </table>

        <h3>Salas Finalizadas</h3>
        <table class="rwd-table">
          <!--
            <tr>
              <form>
                <th scope="col">Buscar partidas</th>
                <th colspan="2" scope="col"><input class="form-control" type="text"></th>
                <th scope="col"><input class="btn btn-primary form-control" type="submit" value="Pesquisar"></th>
              </form>
            </tr>
          -->
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Nome</th>
              <th scope="col">Data</th>
              <th scope="col">Status</th>
            </tr>
            <% if (naoFinalizadas.length == 0) { %>
            <tr>
              <td colspan="4" scope="col">
                <center>Nenhuma Sala</center>
              </td>
            </tr>
            <%}%>
            <% for (var i = 0; i < naoFinalizadas.length; i++) { %>
                <tr>
                  <td><%= naoFinalizadas[i].BTRID_PARTIDA%></td>
                  <td><%= naoFinalizadas[i].NM_SALA%></td>
                  <td><%= moment(naoFinalizadas[i].DT_PARTIDA).subtract(2, 'hours').startOf('minutes').fromNow()%></td>
                  <td><%= naoFinalizadas[i].NM_STATUS%></td>
                </tr>
            <% } %>
        </table>
      </div>
  </div>
  <% include includes/footer.ejs %>
  </main>
  </div>
</body>

</html>
